/* * { */
  /* background-color: #FFADBF; */
  /* font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkgreen; */
  /* margin: auto; */
/* } */

header {
  height: 250px;
}

#top-panel {
  background-color: #4053F2;
  height: 80px;
  text-align: center;
  font-family: 'Risque';
  font-size: 70px;
}

nav {
  background-color: #FFADBF;
  height: 175px;
  /* font-size: 40px;
  display: inline-block;
  margin: 20px 0px 20px 0px;
  padding: 0px 50px 0px 50px;
  vertical-align: bottom; */
}

nav img {
  height: 100px;
  width: 200px;
}

nav div {
  float: left;
  margin: 25px 75px;
  height: 100px;
  width: 200px;
  font-family: 'Risque';
  text-align: center;
  color: #4053F2;
  /* font-size: 25px; */
}

nav div h1 {
  font-size: 25px;
}

nav ul li {
  margin-top: 70px;
  margin-left: 30px;
  display: inline-block;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: #4053F2;
  transition: 300ms;
}

a:hover {
  color: yellow;
}

.pageLabel {
  height: 400px;
  /* margin-bottom: 250px; */
}

.pageLabel h1 {
  float: left;
  font-size: 50px;
  margin: 150px 50px 130px 125px;
  font-family: 'Risque';
}

.pageLabel img {
  height: 100px;
  width: 100px;
}

.pageLabel ol li {
  font-size: 35px;
  margin-top: 25px;
  /* text-align: center; */
}

.contactLabel {
  /* padding: 500px; */
  /* margin: 100px; */
}

.contactLabel tr td {
  font-size: 35px;
  padding: 10px;
  /* margin-top: 100px; */
  border: 10px solid black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.frontPage {
  /* margin-bottom: 10px; */
  height: 150px;
  background-color: #FFADBF;
  color: #4053F2;
  padding: 30px 60px 50px 60px;
  text-align: center;
  font-size: 30px;
}

.frontPage p {
  margin: 15px 50px;
}

.frontPage img {
  height: 175px;
  width: 250px;
  float: left;
  margin-left: 50px;
}

footer {
  background-color: #4053F2;
  height: 60px;
  text-align: right;
  font-family: 'Risque';
  font-size: 30px;
}
